<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Pedro Björns portfolio site, where you can check what he can do, and is currently doing! Drop in and enjoy!">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1, user-scalable=0"/> <!--320-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pretty Ugly Data | visualbear</title>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-icon-57x57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-icon-144x144-precomposed.png" />
        <!-- Bootstrap core CSS
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
        <!-- Bootstrap theme -->
        <!-- Latest compiled and minified CSS
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css"> -->
        <!-- Custom styles for this template -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="all">
        <link href="assets/css/jasny-bootstrap.min.css" rel="stylesheet" media="all">
        <link href="assets/css/main.min.css" rel="stylesheet" media="all">
        <noscript>
        <style type="text/css">
        .js { display:hidden;}
        </style>
        <div class="noscriptmsg">
            Uh-oh! Your javascript seems to be disabled, be sure to <a href="http://enable-javascript.com/" target="_blank">enable it.</a>
        </div>
        </noscript>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-20266178-1', 'auto');
        ga('send', 'pageview');
        </script>
        <meta name="google-site-verification" content="X0A86vn2fgO_z5MvWvCMsjqLk57dI9xlbOHz89U5Gww" />
    </head>
    <body class="diagram-body">
        <nav class="navmenu navmenu-fixed-right offcanvas"
            role="navigation">
            <ul id="close">
                <button type="button" class="btn vb-btn-dark pull-right" data-toggle="offcanvas" data-target=".navmenu">
                <!--<i class="fa fa-close fa-lg"></i>-->
                <b>X</b>
                </button>
            </ul>
            <ul id="links" class=" center">
                <span class="v-align">
                    <div class="box">
                        <div class="navigation">
                            <div class="data-menu pull-right">
                                <button type="button" id="carbon" class="btn data-button pull-right" data-toggle="offcanvas" data-target=".navmenu">
                                CO2 Emissions
                                </button>
                                <button type="button" id="suicide" class="btn data-button pull-right" data-toggle="offcanvas" data-target=".navmenu">
                                US Army Suicides
                                </button>
                                <button type="button" id="spain" class="btn data-button pull-right" data-toggle="offcanvas" data-target=".navmenu">
                                Spanish Unemployment
                                </button>
                                <button type="button" id="education" class="btn data-button pull-right" data-toggle="offcanvas" data-target=".navmenu">
                                World Education
                                </button>
                                <button type="button" id="child" class="btn data-button pull-right" data-toggle="offcanvas" data-target=".navmenu">
                                Infant Mortality Rate
                                </button>
                                <button type="button" id="crimeus" class="btn data-button pull-right active" data-toggle="offcanvas" data-target=".navmenu">
                                Crime Rate USA
                                </button>
                            </div>
                            <div class="description ">
                                <p>This project uses real world data to create colourful, abstract forms.</p>
                                <p>In hopes of attracting attention to some realities, I take something harsh, and try to make it softer and more attractive.</p>
                                <p>(Hint: Don't move the mouse to hide information)</p>
                                &nbsp;
                                <p>Data sources from:</p>
                                <p><a href="https://www.quandl.com/" target="_blank">Quandl</a></p>
                            </div>
                            <a href="/" class="inactive" id="link">
                                <li>
                                    Enjoy this?
                                    <p>Visit my site!</p>
                                </li>
                            </a>
                        </div>
                        <ul class="socialContainer">
                            <a id="follow-button" class="vb-btn-icon " title="Follow @pedrobjorn on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalh…rc=twsrc%5Etfw&region=follow_link&screen_name=pedrobjorn&tw_p=followbutton">
                                <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
                            </a>
                            <a href="https://www.behance.net/visualbear" class="vb-btn-icon ">
                                <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
                            </a>
                            <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="vb-btn-icon ">
                                <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
                            </a>
                        </ul>
                    </span>
                </ul>
            </nav>
            <div class=" navbar  navbar-fixed-top  col-sm-12 hiding" id="data-menu" role="navigation">
                <li class="col-md-12 ">
                    <div class="data-nav pull-right">
                        <button type="button" class="btn vb-btn bar pull-right" data-toggle="offcanvas" data-target=".navmenu">
                        <!--<i class="fa fa-bars fa-lg"></i>-->
                        <span class="bar"></span>
                        </button>
                        <button type="button" id="suicide" class="btn data-button pull-right hiding">
                        US Army Suicides
                        </button>
                        <button type="button" id="spain" class="btn data-button pull-right hiding">
                        Spanish Unemployment
                        </button>
                        <button type="button" id="education" class="btn data-button pull-right hiding">
                        World Education
                        </button>
                        <button type="button" id="child" class="btn data-button pull-right hiding">
                        Infant Mortality Rate
                        </button>
                        <button type="button" id="crimeus" class="btn data-button pull-right hiding active">
                        Crime Rate USA
                        </button>
                        <button type="button" id="carbon" class="btn data-button pull-right hiding">
                        CO2 Emissions
                        </button>
                    </div>
                    <!--<button type="button"
                    class="btn vb-btn  pull-right"
                    data-toggle="offcanvas"
                    data-target=".navmenu">
                    <span>toggle menu</span>
                    </button>-->
                </li>
                <!-- <li class="col-md-6  ">
                    <button type="button"
                    class="btn vb-btn  pull-right"
                    data-toggle="offcanvas"
                    data-target=".navmenu">
                    <span>toggle menu</span>
                    </button>
                    <button type="button" class="btn vb-btn pull-right" data-toggle="offcanvas" data-target=".navmenu">
                    <i class="fa fa-bars fa-lg"></i>
                    </button>
                </li>-->
            </div>
            <div class="main" role="main">
            </div>
            <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
            <!-- Latest compiled and minified JavaScript -->
            <!--  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>-->
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script class="d3" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
            <!--  <script src="assets/js/jasny-bootstrap.min.js"></script>-->
            <script src="assets/js/parsley.min.js"></script>
            <script src="assets/js/main.min.js"></script>
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-20266178-1', 'auto');
            ga('send', 'pageview');
            </script>
        </body>
    </html>
