---
title: Dukebox
heading: Dukebox
---
<article class="gallery-container" id="dukebox_container"  >
	<div class="image_container">
		<div  class=" center">
			<span  class="header-image v-align" id="dukebox">
				<div class=" header-block box">
					<h1>Dukebox</h1>
					<text class="subtitle">Album Art</text>
				</div>
			</span>
		</div>
	</div>
	<div class="gallery-text">
		The design for the <a href="https://www.youtube.com/watch?v=J0MjY0ftwMU" alt="Youtube link to artist">Dukebox</a>
		self-titled album made closely with input from the artist.
		<p>The release was only in a digital medium, with each song having it's own cover.
		The Dukebox logo icon was made by the artist himself, the brand was then developed in order flesh out the artists identity.</p>
		<p>With the theme of "Nebula", the covers use photos from the <a href="http://hubblesite.org/gallery/album/"> Hubble Site</a>
	and a customised typography, the identity was forged.</p>
</div>
<div class="col-xs-12 gallery-image">
	<img src="assets/img/work/fullsize/dukebox/dukebox_first.jpg" alt="Smiley face">
	<img src="assets/img/work/fullsize/dukebox/dukebox_alt.jpg" alt="Smiley face">
	<img src="assets/img/work/fullsize/dukebox/dukebox_bw.jpg" alt="Smiley face">
	<img src="assets/img/work/fullsize/dukebox/dukebox_albums.jpg" alt="Smiley face">
	<img src="assets/img/work/fullsize/dukebox/dukebox_card.jpg" alt="Smiley face">
	<img src="assets/img/work/fullsize/dukebox/dukebox_vinyl.jpg" alt="Smiley face">
	<img src="assets/img/work/fullsize/dukebox/dukebox_pres.jpg" alt="Smiley face">
</div>
</article>
