---
title: visualbear
heading: visualbear
---
<article class="gallery-container" id="visualbear_container">
	<div class="image_container">
		<div  class=" center">
			<span   class="header-image v-align" id="visualbear">
				<div class=" header-block box">
					<h1>Visualbear</h1>
					<text class="subtitle">Brand Design</text>
				</div>
			</span>
		</div>
	</div>
	<div class="container">
		<div class="gallery-text">
			<p>The objective was to define an identity for my web presence,
				but also as an excercise in designing an identity, from logo to website,
			with an element of freedom.</p>
			<p>Focusing on the central aspect of "björn" (bear in Swedish, and also my last name),
				the emphasis on the word "bear" and the logo tie it all together.
				The dark grey contrasting with the blue are selected due to their contrast that's
			less harsh than simply black on white.</p>
		</div>
		<div class="col-xs-12 gallery-image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_first.jpg" alt="visualbear logoimage">
			<img src="assets/img/work/fullsize/visualbear/visualbear_alt.jpg" alt="visualbear alternate logo image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_grid1.jpg" alt="visualbear logo grid 1 image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_grid2.jpg" alt="visualbear logo grid 2 image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_grid3.jpg" alt="visualbear logo grid 3 image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_grid4.jpg" alt="visualbear logo grid 4 image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_bw.jpg" alt="visualbear logo black and white image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_pedrobjorn.jpg" alt="visualbear and pedro bjorn logo image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_card.jpg" alt="visualbear business card image">
			<img src="assets/img/work/fullsize/visualbear/visualbear_pres.jpg" alt="visualbear logo application stationary image">
		</div>
		<div class="gallery-text">
			<p>Since the begining of this project, the identity has, naturally, evolved. These changes will be further documented
			on here soon, as an iteration of the existing identity.</p>
		</div>
	</div>
</article>
