---
title: Projecto Lynx
heading: Projecto Lynx
---
<article class="gallery-container" id="lynx_container">
	<div class="image_container">
		<div  class=" center">
			<span  class="header-image v-align" id="lynx">
				<div class=" header-block box">
					<h1>Projecto Lynx</h1>
					<text class="subtitle">Logo Design</text>
				</div>
			</span>
		</div>   </div>
		<div class="image_container" id="lynx_container">
			<div class="gallery-text">
				Designed for an Iberian lynx awareness group,
				<a href="https://www.facebook.com/projectolynx?fref=nf" target="_blank" alt="Facebook page  link">Projecto Lynx</a>,
				was made as a good will project to support the endangered
				wild Iberian lynx. The group had an existing brand, however it needed to be remade.
				<p>This included a logo and brand direction, with research made into animal-based logos,
				and other lynx themed logos.</p>
				<p>There was an effort to avoid likeness to sports teams logos, which tend to have a very specific styling. Instead, a more
				minimal, frontal approach to the lynx head was taken.</p>
			</div>
			<div class="col-xs-12 gallery-image">
				<img src="assets/img/work/fullsize/lynx/lynx_first.jpg" alt="Projecto Lynx logo image">
				<img src="assets/img/work/fullsize/lynx/lynx_alt.jpg" alt="Projecto Lynx alternate logo image">
				<img src="assets/img/work/fullsize/lynx/lynx_small.jpg" alt="Projecto Lynx small logo image">
				<img src="assets/img/work/fullsize/lynx/lynx_bw.jpg" alt="Projecto Lynx black and white logo image">
				<img src="assets/img/work/fullsize/lynx/lynx_redesign.jpg" alt="Projecto Lynx redesign process image">
				<img src="assets/img/work/fullsize/lynx/lynx_iterations.jpg" alt="Projecto Lynx logo iterations image">
				<img src="assets/img/work/fullsize/lynx/lynx_card.jpg" alt="Projecto Lynx post card example image">
				<img src="assets/img/work/fullsize/lynx/lynx_print.jpg" alt="Projecto Lynx printed logo photo">
				<img src="assets/img/work/fullsize/lynx/lynx_pres.jpg" alt="Projecto Lynx application image">
			</div>
		</article>
