---
title: Sons of Satyr
heading: Sons of Satyr
---
<article class="gallery-container" id="sos_container">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align"  id="sos">
        <div class=" header-block box">
          <h1>Sons of Satyr</h1>
          <text class="subtitle">Logo Design</text>
        </div>
      </span>
    </div>   </div>
      <div class="container">
      <div class="gallery-text">
        Made for a one-off pop up supper club event, the Sons of Satyr image was made to work with
        more than just food, but also drink and environment.
        <p>Borrowing from Art Nouveau and hand drawn logos, it focused on classic and quick, just like the pop up.</p>
        <p>The project was very small in scope, focusing solely on one event, and thus the available material was kept to a minimum,
        the priority being a cohesive theme throughout the event.</p>
      </div>
      <div class="col-xs-12 gallery-image">
        <img src="assets/img/work/fullsize/sos/sos_first.jpg" alt="Sons of Satyr logo image">
        <img src="assets/img/work/fullsize/sos/sos_alt.jpg" alt="Sons of Satyr alternate logo image">
        <img src="assets/img/work/fullsize/sos/sos_bw.jpg" alt="Sons of Satyr black and white logo image">
        <img src="assets/img/work/fullsize/sos/sos_menu.jpg" alt="Sons of Satyr menu image">
        <img src="assets/img/work/fullsize/sos/sos_print.jpg" alt="Sons of Satyr menu photo">
        <img src="assets/img/work/fullsize/sos/sos_pres.jpg" alt="Sons of Satyr application image">
      </div>
          </div>
    </article>
