---
title: Ad Hops
heading: Ad Hops
---
<section class="section"  id="adhops_container">
<article class="gallery-container" id="adhops_container">
	<div class="image_container">
		<div  class=" center">
			<span  class="header-image v-align" id="adhop">
				<div class=" header-block box">
					<h0>Ad Hops</h0>
					<h3 class="subtitle">Brand Design</h3>
				</div>
			</span>
		</div>
	</div>
	<div class="container">
		<div class="gallery-text">
			<p>Defined as a "modern brewery set up in an old monestary using old techniques", Ad Hops
			is designed to blend traditional design elements with modern trends.</p>
			<p>	This is a personal project made to learn about the branding of both a company and it's product
			and how these tie together. </p>
			<p>"Ad Hops" was chosen due to the attention beer brands have gotten
			in recent years, as well as a personal interest in beer.</p>
		</div>
		<div class="col-xs-12 gallery-image">
			<img src="assets/img/work/fullsize/adhops/adhops_first.jpg" alt="Ad Hops logo example 1 image">
			<img src="assets/img/work/fullsize/adhops/adhops_alt.jpg" alt="Ad Hops logo example 2 image">
			<img src="assets/img/work/fullsize/adhops/adhops_bw.jpg" alt="Ad Hops black and white logo  image">
			<img src="assets/img/work/fullsize/adhops/adhops_colors.jpg" alt="Ad Hops color palette image">
			<img src="assets/img/work/fullsize/adhops/adhops_card.jpg" alt="Ad Hops business card image">
		</div>
		<div class="gallery-text">
			<p>The project is the breweries branding  for Ad Hops, as well as two versions of a product, Magnum Hopus.
				Research was made into a lot of different micro-brewery companies, as well as bigger beer corporations' brands, to understand
			exactly what a brewery and beer branding consists of.</p>
		</div>
		<div class="col-xs-12 gallery-image">
			<img src="assets/img/work/fullsize/adhops/adhops_magnum_a.jpg" alt="Magnum Hopus logo example 1 image">
			<img src="assets/img/work/fullsize/adhops/adhops-magnum_b.jpg" alt="Magnum Hopus logo example 2 image">
			<img src="assets/img/work/fullsize/adhops/adhops_magnum_bw.jpg" alt="Magnum Hopus black and white logo image">
			<img src="assets/img/work/fullsize/adhops/adhops_magnum_bottle.jpg" alt="Magnum Hopus bottle concept image">
			<img src="assets/img/work/fullsize/adhops/adhops_magnum_can.jpg" alt="Magnum Hopus beer can concept image">
			<img src="assets/img/work/fullsize/adhops/adhops_magnum_coaster.jpg" alt="Magnum Hopus beer coaster image">
			<img src="assets/img/work/fullsize/adhops/adhops_pres.jpg" alt="Ad Hops and Magnum Hopus application image">
		</div>
	</div>
</article>
</section>
