---
title: Cop a Feel
heading: Cop a Feel
---
<section class="section"  id="barbus_container">
<article class="gallery-container">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="barbus">
        <div class=" header-block box">
          <h0>Cop a Feel</h0>
          <h3 class="subtitle">Album Art</h3>
        </div>
      </span>
    </div>   </div>
    <div class="container">
      <div class="gallery-text">
        Made in collaboration with the band
        <a href="https://barbus.bandcamp.com/">Barbus</a>,
        for their live online release,
        <a href="https://play.spotify.com/artist/6VP8q7LLwimsb2zFbdmjQ9" target="_blank" alt="Spotify album link">Cop a Feel</a>,
        the project theme was "Miami summer cop".
        <p>Using this reference,  inspiration from various 70's and 80's typography,
        iconography and colours was used, and then applied with a clean design to make it more contemporary.</p>
        <p>The "Cop a Feel" text was designed and hand drawn, while the Barbus text is a modified
          <a href="http://www.dafont.com/air-americana.font"> Air Americana</a> font.</p>
        </div>
        <div class="col-xs-12 gallery-image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_first.jpg" alt="Cop a Feel final cover image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_alt.jpg" alt="Cop a Feel other proposed covers image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_bw.jpg" alt="Cop a Feel black and white image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_concept.jpg" alt="Cop a Feel concept development image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_iteration.jpg" alt="Cop a Feel iterations image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_logo.jpg" alt="Cop a Feel logotype black and white image">
          <img src="../assets/img/work/fullsize/copafeel/copafeel_barbus.jpg" alt="Barbus logotype black and white image">
        </div>
      </div>
    </article>
    <section>
