---
title:  Styleguide
section: styleguide.html
sortOrder: 0
---
<section  class="section" id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Styleguide</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-container" id="stylesheet-container">
    {{> styleguide.intro }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Colours</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.colours }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Typography</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.typography }}
    {{> styleguide.headings }}
    {{> styleguide.text-elements }}
    {{> styleguide.blockquote }}
    {{> styleguide.labels }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Buttons</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.buttons }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Lists</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.definition-lists }}
    {{> styleguide.lists }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Inputs</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.form-controls }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Images</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.images }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Navigation</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.navbar }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <article class="gallery-text">
    <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Panels</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
    {{> styleguide.panels }}
  </article>
</section>
<section  class="section"  id="jumbo">
  <article class="gallery-text">
    <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Progress Bars</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
    {{> styleguide.progress-bars }}
  </article>
</section>
<section  class="section"  id="jumbo">
    <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Tables</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <article class="gallery-text">
    {{> styleguide.tables }}
  </article>
</section>
