---
title: Pretty Ugly Data
heading: Pretty Ugly Data
---
<article class="js-container">
  <div class="diagram-body" id="svgContainer">
    <div class=" navbar  navbar-fixed-top  col-sm-12 hiding" id="data-menu" role="navigation">
      <li class="col-md-12 ">
        <div class="data-nav pull-right">
          <button type="button" class="btn vb-btn bar pull-right" data-toggle="offcanvas" data-target=".navmenu">
          <span class="bar"></span>
          </button>
          <button type="button" id="suicide" class="btn data-button pull-right hiding">
          US Army Suicides
          </button>
          <button type="button" id="spain" class="btn data-button pull-right hiding">
          Spanish Unemployment
          </button>
          <button type="button" id="education" class="btn data-button pull-right hiding">
          World Education
          </button>
          <button type="button" id="child" class="btn data-button pull-right hiding">
          Infant Mortality Rate
          </button>
          <button type="button" id="crimeus" class="btn data-button pull-right hiding active">
          Crime Rate USA
          </button>
          <button type="button" id="carbon" class="btn data-button pull-right hiding">
          CO2 Emissions
          </button>
        </div>
      </li>
    </div>

    <div class="svg">
    </div>

  </div>
</article>
