@import "utilities/variables";
@import "utilities/mixins";

body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.main {
    margin-top: 48px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.section {
    .row {
        padding: 0;
        margin: 0;
    }
}

.outer-container {
    display: table;
    width: 100%;
    height: 100vh;
    .inner-container {
        display: table-cell;
        vertical-align: middle;
        .text-container {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//>2500px
@media (min-width: $break-huge) {
    .section {
        width: 100%;
        border-bottom: solid 4px $vb-primary;
        min-height: 100vh;
        max-height: 100%;
        position: relative;
        display: inline-block;
        padding: 0;
        margin: 0;
        .text-container {
            padding-top: 128px;
            padding-bottom: 128px;
        }
    }
}

//2500px< & >1200px
@media (max-width: $break-huge) and (min-width: $break-large) {
    .section {
        width: 100%;
        border-bottom: solid 4px $vb-primary;
        position: relative;
        display: inline-block;
        min-height: 100vh;
        max-height: 100%;
        padding: 0;
        margin: 0;
        .text-container {
            padding-top: 128px;
            padding-bottom: 128px;
        }
    }
}

//1280px< & >767px
@media (max-width: $break-large) and (min-width: $break-medium) {
    .section {
        width: 100%;
        border-bottom: solid 4px $vb-primary;
        min-height: 100vh;
        max-height: 100%;
        padding: 0;
        margin: 0;
        .text-container {
            padding-top: 128px;
            padding-bottom: 128px;
        }
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    .section {
        width: 100%;
        border-bottom: solid 4px $vb-primary;
        min-height: 100vh;
        max-height: 100%;
        padding: 0;
        margin: 0;
        .text-container {
            padding-top: 128px;
            padding-bottom: 128px;
        }
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    .section {
        min-height: 100vh;
        max-height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border-bottom: solid 4px $vb-primary;
        .text-container {
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }
}

//320px<
@media (max-width: $break-tiny) {
    .section {
        width: 100%;
        border-bottom: solid 4px $vb-primary;
        min-height: 100vh;
        max-height: 100%;
        padding: 0;
        margin: 0;
        .text-container {
            padding-top: 64px;
            padding-bottom: 64px;
        }
    }
}