//Colours
$vb-primary: #ff0033 !default;
$vb-secondary: #ff450d !default;
$vb-grey: #39393D !default;
$vb-dark: #1C1C1C !default;
$vb-light: #ebf5ff !default;
$vb-selection:#66b2ff !default;
$vb-active: #f6cc00 !default;

$vb-body-font-family: "Ubuntu", Arial, sans-serif;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

$shadow: 1px 1px 4px #000;

// Base Font
$small-font-size: 0.5em;
$middle-font-size: 1em;
$base-font-size: 1.2em;

$base-h0-size: 3.6em;
$base-h1-size: 2em;
$base-h2-size: 1.5em;
$base-h3-size: 1.17em;
$base-h4-size: 1em;
$base-h5-size: 0.83em;
$base-h6-size: 0.75em;


$tiny-2k-size: 1.35em;
$small-2k-size: 2.1em;
$semi-bold-2k-size: 2.8em;
$base-2k-size: 3em;
$big-2k-size: 4em;

$base-line-height: 1.35;
$semi-bold-line-height: 1.5;
$big-line-height: 3;

$lineheight-loose: 3;
$lineheight-base: 1.35;
$lineheight-tight: 1.5;


// Mobile Font
$mobile-big-h2-size: 1.6em;
$mobile-big-h1-size: 2.2em;

$mobile-font-size: 0.9em;

$mobile-h0-size: 2em;
$mobile-h1-size: 1.8em;
$mobile-h2-size: 1.3em;
$mobile-h3-size: 1em;
$mobile-h4-size: 0.9em;
$mobile-h5-size: 0.7em;
$mobile-h6-size: 0.6em;

$mobile-lineheight-loose: 2;
$mobile-lineheight-base: 1;
$mobile-lineheight-tight: 1.5;

$mobile-line-height: 1.55;
$mobileBig-line-height: 2.5;
// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Font weights
$bold: 700;
$semi-bold: 400;
$light: 300;

//Proportions
$base-nav-padding-constant: 8px 0 8px 0;
$mobile-nav-padding-constant: 8px 24px 11.5px 24px;

$tile-height-small: 128px;
$tile-height-medium: 256px;
$tile-height-big: 512px;
$tile-height-2k: 768px;

// Media Queries
$break-tiny: 320px;
$break-small: 480px;
$break-medium: 767px;
$break-big: 960px;
$break-large: 1279px;
$break-huge: 2400px;
