---
title: About
section: about.html
sortOrder: 2
lead: Welcome to my blog!
---
<article class="outer-container ">
  <div class="inner-container">
    <div class="text-container" id="about-text">
      <p>Hi! I'm <b>Pedro Björn</b>.</p><br>
      <p>I'm a <b>Stockholm</b> based <b>web</b> and <b>graphic designer</b>, currently the design director
        at <a href="http://www.granditude.com" target="_self"><b>Granditude</b></a>, creating great stuff with data vizualisation and the web.</p><br>
        <p>Experienced in the process of developing digital products, including <b>websites</b>, <b>webapps</b>,
          <b>graphic design</b>, and <b>data vizualisation</b>, I love working with both
        <b>visual design</b> and <b>technology.</b></p><br>
        <p><a href="#visual"  id="workLink1"><b>Check  my work</b></a>  or  <a href="#hello"   id="contactLink2"><b>get in touch!</b></a></p>
      </div>
    </div>
  </article>
