---
title: About
section: about.html
sortOrder: 2
lead: Welcome to my blog!
---
<div  class="outer-container ">
    <article class="inner-container">
  <div class="text-container" id="about-text">
    <p>Hi! I'm <text class="emphasis">Pedro Björn</text>.</p><br>
    <p>I'm a <b>Stockholm</b> based <text class="emphasis">web</text> and <text class="emphasis">graphic designer</text>, currently the lead designer
    at <a href="http://www.granditude.com" target="_self">Granditude</a>, creating great stuff with data vizualisation and the web.</p><br>
    <p>Experienced in the process of developing digital products, including <text class="emphasis">websites</text>, <text class="emphasis">webapps</text>,
    <text class="emphasis"> graphic design</text>, and <text class="emphasis">data vizualisation</text>, I love working with both
    <text class="emphasis">visual design</text> and  <text class="emphasis">technology.</text></p><br>
    <p><a href="#visual"  id="workLink1"><text class="highlight" >Check  my work</text></a>  or  <a href="#hello"  class="highlight"  id="contactLink2">get in touch!</a></p>
      <!--<p><a href="blog.html" class="btn btn-primary btn-lg" role="button"><i class="fa fa-envelope"></i></a></p>-->
    </div>
  </article>
  </div>
