---
component: footer
---
<section class="foot">
    <article class="container">
        <ul class="social">
            <li>
                <a id="follow-button" class="icon" title="Follow @pedrobjorn on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalh…rc=twsrc%5Etfw&region=follow_link&screen_name=pedrobjorn&tw_p=followbutton">
                    <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
                </a>
            </li>
            <li>
                <a href="https://www.behance.net/visualbear" class="icon">
                    <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
                </a>
            </li>
            <li>
                <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="icon">
                    <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
                </a>
            </li>
        </ul>
    </article>
<footer>
    <div class="container text-center">
        &copy;  2015 visualbear. All Rights Reserved.
    </div>
</footer>
</section>
