---
component: footer
---
<section class="foot">
    <article>
        {{>social-buttons}}
    </article>
    <footer>
        <div class="text-center">
            &copy;  2015 visualbear All Rights Reserved.
        </div>
    </footer>
</section>
