---
component: footer
---
<section class="foot">
    <article class="container">
        <div class="col-md-12 row">
        </article>
        <!--  <article>
            <div class="container thin bottom">
                <div class="col-xs-12 row">
                    <ul class="col-md-3 col-sm-3 footer-text">
                        <li><h3><a href="solutions.html">Work</a><h3></li>
                    </ul>
                    <ul class="col-md-3 col-sm-3 footer-text">
                        <li><h3><a href="product.html">Products</a><h3></li>
                    </ul>
                    <ul class="col-md-3 col-sm-3 footer-text">
                        <li><h3><a href="services.html">Services</a><h3></li>
                    </ul>
                    <ul class="col-md-3 col-sm-3 footer-text">
                        <li><h3><a href="about.html">About Us</a><h3></li>
                    </ul>
                </div>
            </div>
        </article>-->
        <!--  /Business-->
        <article>
            <ul class="social">
                <a id="follow-button" class="icon" title="Follow @pedrobjorn on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalh…rc=twsrc%5Etfw&region=follow_link&screen_name=pedrobjorn&tw_p=followbutton">
                    <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
                </a>
                <a href="https://www.behance.net/visualbear" class="icon">
                    <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
                </a>
                <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="icon">
                    <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
                </a>
            </ul>
        </article>
    </section>
    <footer>
        <div class="container text-center">
            &copy;  2015 visualbear All Rights Reserved.
        </div>
    </footer>
</section>
