---
heading: Home
---
<article class="content">
  <h1>{{ heading }}</h1>
  <!--<p><a href="blog.html" class="btn btn-primary btn-lg" role="button"><i class="fa fa-envelope"></i></a></p>-->
</article>
