---
component: menu
---
<nav class="navmenu navmenu-fixed-right offcanvas sb-slidebar sb-right sb-style-overlay"
  role="navigation">
  <ul id="close">
    <button type="button" class="btn vb-btn-dark pull-right closeMenu" data-toggle="offcanvas" data-target=".navmenu">
    <i class="fa fa-close fa-lg"></i>
    </button>
  </ul>
  <ul id="links">
    <a href="/" class="inactive">
      <li>
        Home
      </li>
    </a>
    <a href="/#work" class="inactive">
      <li>
        Work
      </li>
    </a>
    <a href="/#about" class="inactive">
      <li>
        About
      </li>
    </a>
    <a href="/#contact" class="inactive">
      <li>
        Contact
      </li>
    </a>
    <div class="social">
      <a href="https://twitter.com/pedrobjorn" class="icon">
        <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
      </a>
      <a href="https://www.behance.net/visualbear" class="icon">
        <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
      </a>
      <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="icon">
        <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
      </a>
    </div>
  </ul>
</nav>
