---
component: navbar
---
<!-- Fixed navbar -->
{{>nav-menu}}
<div class=" navbar  navbar-fixed-top  col-sm-12" role="navigation">
  <li class="col-md-12 ">
    <a class="navbar-brand" href="/">
      <img class="pre-hover" src="assets/img/site/splash_visualbear_transparent_icon-splash.png" alt="home">
      <img class="post-hover" src="assets/img/site/splash_visualbear_transparent_icon.png" alt="home">
    </a>
    <!--<button type="button"
    class="btn vb-btn  pull-right"
    data-toggle="offcanvas"
    data-target=".navmenu">
    <span>toggle menu</span>
    </button>-->
    <!--<button type="button" class="btn vb-btn-text  pull-right" data-toggle="offcanvas" data-target=".navmenu">
    Menu
    </button>-->
    <!--<button type="button" class="btn vb-btn pull-right" data-toggle="offcanvas" data-target=".navmenu">
    <i class="fa fa-bars fa-lg"></i>
    <span class="bt-menu">
      Menu
    </span>
    </button>-->
    <button type="button" class="btn vb-btn bar pull-right" data-toggle="offcanvas" data-target=".navmenu">
    <!--<i class="fa fa-bars fa-lg"></i>-->
    <span class="bar"></span>
    </button>
  </li>
</div>
