---
component: navbar
---
<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top">
<ul id="close">

</ul>
<ul id="links">
  <li{{#if this.isCurrentPage}} class="active col-md-2 col-sm-12"{{/if}}{{#if this.isCurrentPage}} class="active"{{/if}}>
    <a href="#jumbo">Home</a>
  </li>
  <li{{#if this.isCurrentPage}} class="active col-md-2 col-sm-12"{{/if}}{{#if this.isCurrentPage}} class="active"{{/if}}>
    <a href="#work">Work</a>
  </li>
  <li{{#if this.isCurrentPage}} class="active col-md-2 col-sm-12"{{/if}}{{#if this.isCurrentPage}} class="active"{{/if}}>
    <a href="#about">About</a>
  </li>
  <li{{#if this.isCurrentPage}} class="active col-md-2 col-sm-12"{{/if}}{{#if this.isCurrentPage}} class="active"{{/if}}>
    <a href="#contact">Contact</a>
  </li>
</ul>
</nav>
