---
component: navbar
---
<!-- Fixed navbar -->
<nav class="navmenu navmenu-fixed-right offcanvas"
  role="navigation">
  <ul id="close">
    <button type="button" class="btn vb-btn-dark pull-right" data-toggle="offcanvas" data-target=".navmenu">
    <!--<i class="fa fa-close fa-lg"></i>-->
        <b>X</b>
    </button>
    <!--<button type="button" class="btn vb-btn-text-dark  pull-right" data-toggle="offcanvas" data-target=".navmenu">
    Close
    </button>-->
  </ul>
  <ul id="links" class=" center">
      <span class="v-align">
        <div class="box">
          <div class="navigation">
            <a href="/#work" class="inactive" id="link">
              <li>
                Work
              </li>
            </a>
            <a href="/#about" class="inactive" id="link">
              <li>
                About
              </li>
            </a>
            <a href="/#contact" class="inactive" id="link">
              <li>
                Contact
              </li>
            </a>
          </div>
          <div class="social">
            <a id="follow-button" class="icon" title="Follow @pedrobjorn on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalh…rc=twsrc%5Etfw&region=follow_link&screen_name=pedrobjorn&tw_p=followbutton">
              <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
            </a>
            <a href="https://www.behance.net/visualbear" class="icon">
              <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
            </a>
            <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="icon">
              <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
            </a>
          </div>
        </div>
    </span>
  </ul>
</nav>
<div class=" navbar  navbar-fixed-top  col-sm-12" role="navigation">
  <li class="col-md-6 ">
    <a class="navbar-brand" href="/">
      <img class="pre-hover" src="assets/img/site/splash_visualbear_transparent_icon-splash.png" alt="home">
      <img class="post-hover" src="assets/img/site/splash_visualbear_transparent_icon.png" alt="home">
    </a>
  </li>
  <li class="col-md-6  ">
    <!--<button type="button"
    class="btn vb-btn  pull-right"
    data-toggle="offcanvas"
    data-target=".navmenu">
    <span>toggle menu</span>
    </button>-->
    <!--<button type="button" class="btn vb-btn-text  pull-right" data-toggle="offcanvas" data-target=".navmenu">
    Menu
    </button>-->
    <!--<button type="button" class="btn vb-btn pull-right" data-toggle="offcanvas" data-target=".navmenu">
    <i class="fa fa-bars fa-lg"></i>
    <span class="bt-menu">
      Menu
    </span>
    </button>-->
    <button type="button" class="btn vb-btn bar pull-right" data-toggle="offcanvas" data-target=".navmenu">
    <!--<i class="fa fa-bars fa-lg"></i>-->
    <span class="bar"></span>
    </button>
  </li>
</div>
