<ul class="socialContainer">
    <a id="follow-button" class="vb-btn-icon " title="Follow @pedrobjorn on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalh…rc=twsrc%5Etfw&region=follow_link&screen_name=pedrobjorn&tw_p=followbutton">
        <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
    </a>
    <a href="https://www.behance.net/visualbear" class="vb-btn-icon ">
        <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
    </a>
    <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="vb-btn-icon ">
        <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
    </a>
</ul>
