---
title: Styleguide - Atoms
section: atoms.html
sortOrder: 2
---
<!--FONTS-->
<article class="gallery-text">
  <div class="text-block">
    <h1  class="page-header">Atoms</h1>
    <blockquote>
      <p>"Atoms are basic tags, such as form labels, inputs or buttons. They also include more abstract elements like color palettes, fonts, and animations."</p>
    <footer><cite title="Source Title"><a href="http://patternlab.io/about.html#organisms">- Pattern.io</cite></footer>
  </blockquote>
</div>
<div class="text-block">
  <h3 class="page-header">Colours</h3>
  <ul>
    <li>
      <span class="icon-container" style="background:  #ebf5ff ;    border:1px solid #39393D"></span>
      <span>#ebf5ff </span>
    </li>
    <li>
      <span class="icon-container" style="background:  #39393d;"></span>
      <span> #39393D</span>
    </li>
    <li>
      <span class="icon-container" style="background: #ff0033;"></span>
      <span>#ff0033</span>
    </li>
    <li>
      <span class="icon-container" style="background: #ff450d ;"></span>
      <span>#ff450d </span>
    </li>
    <li>
      <span class="icon-container" style="background:  #1c1c1c;"></span>
      <span> #1c1c1c</span>
    </li>
    <li>
      <span class="icon-container" style="background:  #66b2ff ; "></span>
      <span>#66b2ff </span>
    </li>
    <li>
      <span class="icon-container" style="background:  #f6cc00 ;"></span>
      <span>#f6cc00 </span>
    </li>
  </ul>
</div>
<div class="text-block">
  <h3 class="page-header">Fonts</h3>
  <p>Primary font: "<a href="https://www.google.com/fonts/specimen/Ubuntu" alt="Google fonts link" target="_blank">Ubuntu</a>", sans-serif;</p>
  <p><i>Primary font italic: "Ubuntu" , sans-serif;</i></p>
  <p><b>Primary font bold: "Ubuntu", sans-serif;</b></p>
  <p class="font-secondary">Secondary font:  "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
  <p class="font-secondary"><i>Secondary font italic:  "HelveticaNeue", "Helvetica", "Arial", sans-serif;</i></p>
  <p class="font-secondary"><strong>Secondary font bold:  "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
</div>
<div class="text-block">
  <h3 class="page-header">Headings</h3>
  <ul>
    <!--HEADINGS-->
    <li><h0>h0 Heading <small>Secondary text</small><h0></li>
    <li><h1>h1 Heading  <small>Secondary text</small><h1></li>
    <li><h2>h2 Heading  <small>Secondary text</small><h2></li>
    <li><h3>h3 Heading  <small>Secondary text</small><h3></li>
    <li><h4>h4 Heading  <small>Secondary text</small><h4></li>
    <li><h5>h5 Heading  <small>Secondary text</small><h5></li>
    <li><h6>h6 Heading  <small>Secondary text</small><h6></li>
  </div>
  <div class="text-block">
    <h2 class="page-header">H2 Page Header <small>With Secondary Text</small></h2>
  </ul>
  <!--Links-->
</div>
<div class="text-block">
  <h3 class="page-header">Links</h3>
  <ul>
    <li><a href="#visual"  id="workLink1"><b>Link A</b></a></li>
    <li><a href="#visual"  id="workLink1">Link B</a></li>
  </ul>
</div>
<div class="text-block">
  <h3 class="page-header">Text</h3>
  <h2>Example body text</h2>
  <p class="lead">Lead paragraph: vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
  <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
  <p><small class="light">This line of text is meant to be treated as fine print.</small></p>
  <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
  <p>The following snippet of text is <i>rendered as italicized text</i>.</p>
  <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  <p class="text-left">Left aligned text.</p>
  <p class="text-center">Center aligned text.</p>
  <p class="text-right">Right aligned text.</p>
  <p class="text-justify">Justified text.</p>
  <p class="text-muted">Muted: Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
  <p class="text-primary">Primary: Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  <p class="text-warning">Warning: Etiam porta sem malesuada magna mollis euismod.</p>
  <p class="text-danger">Danger: Donec ullamcorper nulla non metus auctor fringilla.</p>
  <p class="text-success">Success: Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
  <p class="text-info">Info: Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>
<div class="text-block">
  <h3 class="page-header">Inputs</h3>
  <form>
    <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
    <input type="text" class="form-group form-text"  id="disabledInput" name="name" id="InputName" placeholder="*" data-parsley-minlength="2"  disabled/>
    <input type="text" class="form-group form-text input-sm" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
    <input type="text" class="form-group form-text input-sm" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" disabled/>
    <div class="row">
      <div class="col-md-2 col-xs-6">
        <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
      </div>
      <div class="col-md-4 col-xs-8">
        <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
      </div>
      <div class="col-md-6 col-xs-10">
        <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
      </div>
    </div>
    <div class="form-group has-success has-feedback">
      <label class="control-label" for="inputSuccess2">Input with success</label>
      <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
      <label class="control-label" for="inputWarning2">Input with warning</label>
      <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
      <label class="control-label" for="inputError2">Input with error</label>
      <input type="text" class="form-group form-text" name="name" id="InputName" placeholder="*" data-parsley-minlength="2" required/>
    </div>
    <textarea type="text" class="form-group form-text" name="Address" rows=3 cols=30 name="message" id="InputMessage" placeholder="What's on your mind?" data-parsley-maxlength="200"/>
  </form>
</div>
<div class="text-block">
  <h3 class="page-header">Buttons</h3>
  <h4>Normal Buttons</h4>
  <button type="button" class="btn vb-btn bar">
  <!--<i class="fa fa-bars fa-lg"></i>-->
  <span class="bar"></span>
  </button>
  <button type="button" class="btn vb-btn-dark closeMenu">
  <b>X</b>
  </button>
</div>
</article>
