---
title: Styleguide - Intro
section: intro.html
sortOrder: 2
---
<article class="gallery-text">

  <h1 class="page-header">Styleguide</h1>
    <p>Welcome to the website styleguide. Here you will find a collection of all the individual components and rules, used
    to build this site. I use a modified, custom version of
    <a href="http://patternlab.io/" alt="Link to Pattern Lab">Pattern Lab</a> atomic design structure for my site, customised by me. </p>
    <p>The structure is divided into:</p>
    <ul class="index">
      <li><a href="#atoms" onclick="scroller('stylesheet-atoms')">Atoms</a></li>
      <li><a href="#molecules" onclick="scroller('stylesheet-molecules')">Molecules</a></li>
      <li><a href="#organisms"  onclick="scroller('stylesheet-organisms')">Organisms</a></li>
      <li><a href="#templates"  onclick="scroller('stylesheet-molecules')">Templates</a></li>
    </ul>
    </article>
