---
title: Styleguide - Molecules
section: molecules.html
sortOrder: 2
---
<article class="gallery-text">
  <div class="text-block">
    <h1  class="page-header">Molecules</h1>
    <p>In interfaces, molecules are groups of elements that function together as a unit.</p>
    <blockquote>
    <footer><cite title="Source Title"><a href="http://patternlab.io/about.html#atoms">Pattern.io</cite></footer>
  </blockquote>
</div>
<div class="text-block">
  <h3 class="page-header">Quotes</h3>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<h1>Example heading <span class="label label-default">New</span></h1>
<h2>Example heading <span class="label label-default">New</span></h2>
<h3>Example heading <span class="label label-default">New</span></h3>
<h4>Example heading <span class="label label-default">New</span></h4>
<h5>Example heading <span class="label label-default">New</span></h5>
<h6>Example heading <span class="label label-default">New</span></h6>
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
</div>
<div class="text-block">
<h3 class="page-header">Forms</h3>
<div class="checkbox">
<label>
  <input type="checkbox" value="">
  Option one is this and that&mdash;be sure to include why it's great
</label>
</div>
<div class="radio">
<label>
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Option one is this and that&mdash;be sure to include why it's great
</label>
</div>
<div class="radio">
<label>
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  Option two can be something else and selecting it will deselect option one
</label>
</div>
</div>
<div class="text-block">
<h3>Inline checkboxes</h3>
<label class="checkbox-inline">
<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
</label>
<label class="checkbox-inline">
<input type="checkbox" id="inlineCheckbox2" value="option2"> 2
</label>
<label class="checkbox-inline">
<input type="checkbox" id="inlineCheckbox3" value="option3"> 3
</label>
<select class="form-control">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
<select multiple class="form-control">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
</select>
<!-- Sample pattern, your site's patterns will be different -->
<div class="alert alert-warning">
<strong>Warning Message!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</div>
<div class="alert alert-error">
<strong>Error Message!</strong> Numquam quos fuga quam suscipit sapiente perferendis magnam.
</div>
<div class="alert alert-success">
<strong>Success Message!</strong> Totam officiis dolorum voluptatibus maxime molestiae iste.
</div>
<div class="alert alert-info">
<strong>Info Message!</strong> Consequatur facere deleniti cumque ducimus maiores nemo.
</div>
</article>
