---
title: Styleguide - Organisms
section: organisms.html
sortOrder: 2
---
<article class="gallery-text">
  <div class="text-block">
    <h1  class="page-header">Organisms</h1>
    <blockquote>
      <p>"Organisms are groups of molecules (and possibly atoms) joined together to form distinct section of an interface."</p>
    <footer><cite title="Source Title"><a href="http://patternlab.io/about.html#organisms">- Pattern.io</cite></footer>
  </blockquote>
  <h3 class="page-header">Navigation Header</h3>
  <div class=" navbar   col-sm-12" role="navigation" style="z-index: 999">
    <li class="col-md-12 ">
      <a class="navbar-brand">
        <img class="pre-hover" src="assets/img/site/splash_visualbear_transparent_icon-splash.png" alt="home">
        <img class="post-hover" src="assets/img/site/splash_visualbear_transparent_icon.png" alt="home">
      </a>
      <!--<button type="button"
      class="btn vb-btn  pull-right"
      data-toggle="offcanvas"
      data-target=".navmenu">
      <span>toggle menu</span>
      </button>-->
      <!--<button type="button" class="btn vb-btn-text  pull-right" data-toggle="offcanvas" data-target=".navmenu">
      Menu
      </button>-->
      <!--<button type="button" class="btn vb-btn pull-right" data-toggle="offcanvas" data-target=".navmenu">
      <i class="fa fa-bars fa-lg"></i>
      <span class="bt-menu">
        Menu
      </span>
      </button>-->
      <button type="button" class="btn vb-btn bar pull-right">
      <!--<i class="fa fa-bars fa-lg"></i>-->
      <span class="bar"></span>
      </button>
    </li>
  </div>
    <h3 class="page-header">Navigation Menu</h3>
    <nav class="navmenu" role="navigation">
  <ul id="close">
    <button type="button" class="btn vb-btn-dark pull-right">
    <!--<i class="fa fa-close fa-lg"></i>-->
        <b>X</b>
    </button>
    <!--<button type="button" class="btn vb-btn-text-dark  pull-right" data-toggle="offcanvas" data-target=".navmenu">
    Close
    </button>-->
  </ul>
  <ul id="links" class=" center">
      <span class="v-align">
        <div class="box">
          <div class="navigation">
            <a  class="inactive" id="link">
              <li>
                Work
              </li>
            </a>
            <a class="inactive" id="link">
              <li>
                About
              </li>
            </a>
            <a class="inactive" id="link">
              <li>
                Contact
              </li>
            </a>
          </div>
          <div class="social">
            <a id="follow-button" class="icon" title="Follow @pedrobjorn on Twitter">
              <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
            </a>
            <a class="icon">
              <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
            </a>
            <a class="icon">
              <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
            </a>
          </div>
        </div>
    </span>
  </ul>
</nav>
</div>
</articles>
