---
title: Styleguide - Intro
section: intro.html
sortOrder: 2
---
<article class="gallery-container" id="stylesheet-container">
  <div class="image_container">
    <div  class=" center">
      <span  class="header-image v-align" id="stylesheet">
        <div class=" header-block box">
          <h1>Styleguide</h1>
          <text class="subtitle"></text>
        </div>
      </span>
    </div>
  </div>
  <div class="gallery-text">
    <p>Welcome to the website styleguide. Here you will find a collection of all the individual components, and rules, used
    to build this site. These are broken down into:</p>
    <ul class="index">
      <li><a href="#colours" onclick="scroller('stylesheet-colours')">Colours</a></li>
      <li><a href="#typography" onclick="scroller('stylesheet-typography')">Typography</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#inputs">Inputs</a></li>
      <li><a href="#elements">Elements</a></li>
    </ul>
</article>
