---
title: Styleguide - Molecules
section: molecules.html
sortOrder: 2
---
<article class="gallery-text">
  <div class="text-block">
    <h1  class="page-header">Molecules</h1>
    <blockquote>
      <p>"In interfaces, molecules are groups of elements that function together as a unit."</p>
    <footer><cite title="Source Title"><a href="http://patternlab.io/about.html#organisms">- Pattern.io</cite></footer>
  </blockquote>
</div>
<div class="text-block">
  <h3 class="page-header">Quotes</h3>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>- Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
</div>
<h3 class="page-header">Labels</h3>
<div class="text-block">
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
</div>
<div class="text-block">
<h3 class="page-header">Forms</h3>
<h4 class="page-header">Checkbox</h4>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    1. Option one is this and that - be sure to include why it's great
  </label>
  <label>
    <input type="checkbox" value="">
    2. Option one is this and that - be sure to include why it's great
  </label>
  <label>
    <input type="checkbox" value="">
    3. Option one is this and that - be sure to include why it's great
  </label>
</div>
<h4 class="page-header">Radio Buttons</h4>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option 1 is this and that - be sure to include why it's great
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two is be something else and selecting it will deselect option 1
  </label>
</div>
<h4 class="page-header">Inline checkboxes</h4>
<div class="radio">
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
  </label>
</div>
</div>
<h4 class="page-header">Dropdown</h4>
<div class="text-block">
<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
{{!-- <select multiple class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select> --}}
</div>
<!-- Sample pattern, your site's patterns will be different -->
<h4 class="page-header">Alerts</h4>
<div class="alert alert-warning">
<strong>Warning Message!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</div>
<div class="alert alert-error">
<strong>Error Message!</strong> Numquam quos fuga quam suscipit sapiente perferendis magnam.
</div>
<div class="alert alert-success">
<strong>Success Message!</strong> Totam officiis dolorum voluptatibus maxime molestiae iste.
</div>
<div class="alert alert-info">
<strong>Info Message!</strong> Consequatur facere deleniti cumque ducimus maiores nemo.
</div>
<h4 class="page-header">Buttons Aligned</h4>
<div class="text-block">
          <div class="social">
            <a id="follow-button" class="icon" title="Follow @pedrobjorn on Twitter">
              <img src="assets/img/icons/twitter_icon_64.jpg" alt="Smiley face">
            </a>
            <a class="icon">
              <img src="assets/img/icons/behance_icon_64.jpg" alt="Smiley face">
            </a>
            <a class="icon">
              <img src="assets/img/icons/linkdin_icon_64.jpg" alt="Smiley face">
            </a>
          </div>
</div>
</article>
