---
title: Styleguide - Templates
section: templates.html
sortOrder: 2
---
<article class="gallery-text">
  <div class="text-block">
    <h1  class="page-header">Templates</h1>
    <blockquote>
      <p>"Templates are comprised mostly of organisms combined together to form page-level objects."</p>
    <footer><cite title="Source Title"><a href="http://patternlab.io/about.html#templates">- Pattern.io</cite></footer>
  </blockquote>
</div>
</articles>
