---
title: Styleguide - Atoms
section: atoms.html
sortOrder: 2
---
<!--FONTS-->
<article class="gallery-text">
  <h1  class="page-header">Atoms</h1>
 <p>Atoms are basic tags, such as form labels, inputs or buttons. They also include more abstract elements like color palettes, fonts, and animations.</p>
 <blockquote>
<footer><cite title="Source Title"><a href="http://patternlab.io/about.html#atoms">Pattern.io</cite></footer>
</blockquote>
  <h3 class="page-header">Fonts</h3>
  <p>Primary font: "<a href="https://www.google.com/fonts/specimen/Ubuntu" alt="Google fonts link" target="_blank">Ubuntu</a>", sans-serif;</p>
  <p><i>Primary font italic: "Ubuntu" , sans-serif;</i></p>
  <p><b>Primary font bold: "Ubuntu", sans-serif;</b></p>
  <p class="font-secondary">Secondary font:  "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
  <p class="font-secondary"><i>Secondary font italic:  "HelveticaNeue", "Helvetica", "Arial", sans-serif;</i></p>
  <p class="font-secondary"><strong>Secondary font bold:  "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<h3 class="page-header">Headings</h3>
<ul>
  <!--HEADINGS-->
  <li><h0>h0 Heading<h0></li>
  <li><h1>h1 Heading  <small>Secondary text</small><h1></li>
  <li><h2>h2 Heading  <small>Secondary text</small><h2></li>
  <li><h3>h3 Heading  <small>Secondary text</small><h3></li>
  <li><h4>h4 Heading  <small>Secondary text</small><h4></li>
  <li><h5>h5 Heading  <small>Secondary text</small><h5></li>
  <li><h6>h6 Heading  <small>Secondary text</small><h6></li>
  <h1 class="page-header">Page Header <small>With Small Text</small></h1>
</ul>
<!--Links-->
<h3 class="page-header">Links</h3>
<ul>
  <li><a href="#visual"  id="workLink1"><b>Link A</b></a></li>
  <li><a href="#visual"  id="workLink1">Link B</a></li>
</ul>
<h3 class="page-header">Text</h3>
<h2>Example body text</h2>
<p class="lead">Lead paragraph: vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p><small class="light">This line of text is meant to be treated as fine print.</small></p>
<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">Justified text.</p>
<p class="text-muted">Muted: Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-primary">Primary: Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-warning">Warning: Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-danger">Danger: Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-success">Success: Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-info">Info: Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

<h3 class="page-header">Inputs</h3>
<input type="text" class="form-control" placeholder="Text input">
<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
<input class="form-control input-lg" type="text" placeholder=".input-lg">
<input class="form-control" type="text" placeholder="Default input">
<input class="form-control input-sm" type="text" placeholder=".input-sm">
<div class="row">
<div class="col-xs-2">
<input type="text" class="form-control" placeholder=".col-xs-2">
</div>
<div class="col-xs-3">
<input type="text" class="form-control" placeholder=".col-xs-3">
</div>
<div class="col-xs-4">
<input type="text" class="form-control" placeholder=".col-xs-4">
</div>
</div>
<div class="form-group has-success has-feedback">
<label class="control-label" for="inputSuccess2">Input with success</label>
<input type="text" class="form-control" id="inputSuccess2">
<span class="glyphicon glyphicon-ok form-control-feedback"></span>
</div>
<div class="form-group has-warning has-feedback">
<label class="control-label" for="inputWarning2">Input with warning</label>
<input type="text" class="form-control" id="inputWarning2">
<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
</div>
<div class="form-group has-error has-feedback">
<label class="control-label" for="inputError2">Input with error</label>
<input type="text" class="form-control" id="inputError2">
<span class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>
<textarea class="form-control" rows="3"></textarea>
</article>
