---
title: Styleguide - Organisms
section: organisms.html
sortOrder: 2
---
<article class="gallery-text">
  <h1  class="page-header">Organisms</h1>
 <p>Organisms are groups of molecules (and possibly atoms) joined together to form distinct section of an interface.</p>
 <blockquote>
<footer><cite title="Source Title"><a href="http://patternlab.io/about.html#organisms">Pattern.io</cite></footer>
</blockquote>


</articles>
