---
title: Styleguide - Intro
section: intro.html
sortOrder: 2
---

  <div class="gallery-text">
    <p>Welcome to the website styleguide. Here you will find a collection of all the individual components, and rules, used
    to build this site. These are broken down into:</p>
    <ul class="index">
      <li><a href="#colours" onclick="scroller('stylesheet-colours')">Colours</a></li>
      <li><a href="#typography" onclick="scroller('stylesheet-typography')">Typography</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#inputs">Inputs</a></li>
      <li><a href="#elements">Elements</a></li>
    </ul>
