---
title: Styleguide - Typography
section: typography.html
sortOrder: 2
---
<article class="gallery-container" id="stylesheet-container">
  <div class="gallery-text">
    <h1>Typography</h1>
    <p>The font used is <b>Ubuntu</b>.</p>
    <ul>
      <!--HEADINGS-->
      <li><h1>h1 Heading<h1></li>
      <li><h2>h2 Heading<h2></li>
      <li><h3>h3 Heading<h3></li>
      <li><h4>h4 Heading<h4></li>
    </ul>
    <ul>
      <!--Font Type-->
      <li><b>Bold<b></li>
      <li>Regular</li>
      <li><text class="light">Light</text></li>
    </ul>
    <ul>
      <!--Links-->
      <li><a href="#visual"  id="workLink1"><b>Link A</b></a></li>
      <li><a href="#visual"  id="workLink1">Link B</a></li>
    </ul>
  </div>
</article>
