---
title: Work
heading: Gallery
---
<article class="gallery" id="gallery">
  <div class="row">
      <div class="col-xs-12 gallerytile ">
      <a href="pretty-ugly-data.html" class=" center">
        <span class="gallery-image v-align" id="prettyugly" >
          <div class="text-block box">
           <h0> Pretty Ugly Data
            <small>Web Project</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile ">
      <a href="gallery_copafeel.html" class=" center">
        <span class="gallery-image v-align" id="barbus" >
          <div class="text-block box">
            <h0>Cop a Feel
            <small>Album Art</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_adhops.html" class=" center">
        <span class="gallery-image v-align"  id="adhop">
          <div class="text-block box">
            <h0>Ad Hops
            <small>Brand Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_dukebox.html" class=" center">
        <span  class="gallery-image v-align" id="dukebox">
          <div class="text-block box">
            <h0>Dukebox
            <small>Album Art</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_visualbear.html" class=" center">
        <span   class="gallery-image v-align" id="visualbear">
          <div class="text-block box">
           <h0> Visualbear
            <small>Brand Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_lynx.html" class=" center">
        <span  class="gallery-image v-align"  id="lynx">
          <div class="text-block box">
            <h0>Projecto Lynx
            <small>Logo Design <small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_sos.html" class=" center">
        <span  class="gallery-image v-align"  id="sos">
          <div class="text-block box">
           <h0>Sons of Satyr
            <small>Logo Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
  </div>
</article>
