---
title: Work
heading: Gallery
---
<article class="gallery">
  <div class="row">
      <div class="col-xs-12 gallerytile ">
      <a href="pretty-ugly-data.html" class=" center">
        <span class="gallery-image v-align" id="prettyugly" >
          <div class="text-block box">
           <h1> Pretty Ugly Data </h1>
            <h3 class="light">Web Project</h3>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile ">
      <a href="gallery_copafeel.html" class=" center">
        <span class="gallery-image v-align" id="barbus" >
          <div class="text-block box">
            <h1>Cop a Feel</h1>
            <h3 class="light">Album Art</h3>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_adhops.html" class=" center">
        <span class="gallery-image v-align"  id="adhop">
          <div class="text-block box">
            <h1>Ad Hops</h1>
            <h3 class="light">Brand Design</h3>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_dukebox.html" class=" center">
        <span  class="gallery-image v-align" id="dukebox">
          <div class="text-block box">
            <h1>Dukebox</h1>
            <h3 class="light">Album Art</h3>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_visualbear.html" class=" center">
        <span   class="gallery-image v-align" id="visualbear">
          <div class="text-block box">
           <h1> Visualbear</h1>
            <h3 class="light">Brand Design</h3>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_lynx.html" class=" center">
        <span  class="gallery-image v-align"  id="lynx">
          <div class="text-block box">
            <h1>Projecto Lynx</h1>
            <h3 class="light">Logo Design</h3>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="gallery_sos.html" class=" center">
        <span  class="gallery-image v-align"  id="sos">
          <div class="text-block box">
           <h1>Sons of Satyr</h1>
            <h3 class="light">Logo Design</h3>
          </div>
        </span>
      </a>
    </div>
  </div>
</article>
