@import "utilities/variables";
@import "utilities/mixins";

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.active {
    color: $vb-light;
    background-color: $vb-primary;
}

.data-nav {
    float: left;
    display: inline-block;
    width: auto;
    .active {
        color: $vb-light;
        background-color: $vb-primary;
    }
}

.data-menu {
    .active {
        color: $vb-light;
        background-color: $vb-primary;
    }
}

.data-button {
    @include border-radius(0);
    margin: 0;
    background-color: $vb-grey;
    width: auto;
    color: #fff;
    padding: 13px;
    font-weight: 300;
    float: left;
    &:hover,
    &:focus {
        color: $vb-light;
        background-color: $vb-primary;
    }
}

.vb-btn {
    font-size: 12px;
    background-color: $vb-grey;
    height: 45px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 4px 4px 0 4px;
    width: 45px;
    cursor: pointer;
    color: $vb-primary;
    font-weight: 500;
    @include border-radius(0);
    &:hover,
    &:focus {
        padding: 3px 4px 0 4px;
        height: 46px;
        color: $vb-light;
        background-color: $vb-primary;
    }
    .bar {
        &:before {
            content: "";
            position: absolute;
            top: 28%;
            left: 6px;
            width: 30px;
            height: 22px;
            border-top: 13px double #fff;
            border-bottom: 4px solid #fff;
        }
    }
}

.vb-btn-icon {
    float: left;
    width: 48px;
    padding: 0;
    margin: 0;
    &:hover,
    &:focus {
        opacity: 0.5;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: $vb-grey;
    }
    &:last-child:after {
        padding: 32px;
    }
}

.vb-btn-text {
    font-size: 24px;
    background-color: $vb-grey;
    height: 45px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 4px 16px 0 16px;
    width: auto;
    cursor: pointer;
    color: $vb-primary;
    @include border-radius(0);
    &:hover,
    &:focus {
        padding: 4px 16px 0 16px;
        height: 46px;
        color: $vb-light;
        background-color: $vb-primary;
    }
}

.vb-btn-text-dark {
    @extend .vb-btn-text;
    background-color: $vb-dark;
    &:hover,
    &:focus {
        height: 46px;
        background-color: $vb-primary;
    }
}

.vb-btn-down {
    font-size: 1.2em;
    cursor: default;
    background-color: $vb-grey;
    @include border-radius(0);
    a {
        &:hover,
        &:focus,
        &:active {
            outline: none;
            border: none;
            text-decoration: none;
            color: $vb-primary;
        }
    }
}

.vb-btn-dark {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    border: 0;
    @extend .vb-btn;
    padding: 0;
    background-color: $vb-dark;
    &:hover,
    &:focus {
        height: 45px;
        padding: 0;
        background-color: $vb-primary;
    }
}

// //>2500px
// @media (min-width: $break-huge) {
//     .vb-submit {
//         background-color: $vb-primary;
//         position: relative;
//         overflow: hidden;
//         margin:16px 0;
//         width: auto;
//         border: solid 2px $vb-primary;
//         padding: 8px 32px;
//         height: 64px;
//         cursor: pointer;
//         color: $vb-light;
//         @include border-radius(0);
//         &:hover,
//         &:focus {
//             color: $vb-primary;
//             background-color: $vb-light;
//         }
//     }
//     .vb-btn {
//         background-color: $vb-grey;
//         border: none;
//             height: 64px;
//         position: relative;
//         overflow: hidden;
//         margin:16px 0;
//         padding: 0;
//         width: 48px;
//         cursor: pointer;
//         @include border-radius(0);
//         &:hover,
//         &:focus {
//             background-color: $vb-primary;
//         }
//     }
//     .vb-btn-dark {
//         background-color: $vb-dark;
//         &:hover,
//         &:focus {
//             background-color: $vb-primary;
//         }
//     }
//     .vb-btn-down {
//         font-size: 1.2em;
//         cursor: default;
//         background-color: $vb-grey;
//         @include border-radius(0);
//         a {
//             &:hover,
//             &:focus,
//             &:active {
//                 outline: none;
//                 border: none;
//                 text-decoration: none;
//                 color: $vb-primary;
//             }
//         }
//     }
// }
@media (min-width: $break-huge) {
    .data-nav {
        .data-button {
            @include border-radius(0);
            margin: 0;
            background-color: $vb-grey;
            border: solid #999;
            border-width: 0  2px 0 0;
            width: auto;
            color: #fff;
            padding: 13px;
            font-weight: 300;
            float: left;
            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }
        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
    .data-menu {
        .data-button {
            display: none;
        }
    }
    .vb-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        width: auto;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        height: 64px;
        cursor: pointer;
        color: $vb-light;
        @include border-radius(0);
        &:hover,
        &:focus {
            color: $vb-primary;
            background-color: $vb-light;
        }
    }
    .vb-btn-down {
        font-size: 0.6em;
        cursor: default;
        background-color: $vb-grey;
        @include border-radius(0);
        a {
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
                text-decoration: none;
                color: $vb-primary;
            }
        }
    }
}

//2500px< & >1200px
@media (max-width: $break-huge) and (min-width: $break-large) {
    .data-nav {
        .data-button {
            @include border-radius(0);
            margin: 0;
            background-color: $vb-grey;
            border: solid #999;
            border-width: 0  2px 0 0;
            width: auto;
            color: #fff;
            padding: 13px;
            font-weight: 300;
            float: left;
            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }
        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
    .data-menu {
        .data-button {
            display: none;
        }
    }
    .vb-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        width: auto;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        height: 64px;
        cursor: pointer;
        color: $vb-light;
        @include border-radius(0);
        &:hover,
        &:focus {
            color: $vb-primary;
            background-color: $vb-light;
        }
    }
    .vb-btn-down {
        font-size: 0.6em;
        cursor: default;
        background-color: $vb-grey;
        @include border-radius(0);
        a {
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
                text-decoration: none;
                color: $vb-primary;
            }
        }
    }
}

//1200px< & >767px
@media (max-width: $break-large) and (min-width: 815px) {
    .data-nav {
        .data-button {
            @include border-radius(0);
            margin: 0;
            background-color: $vb-grey;
            border: solid #999;
            border-width: 0  1px 0 0;
            width: auto;
            color: #fff;
            padding: 15px 8px;
            font-weight: 300;
            font-size: 11px;
            float: left;
            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }
        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
    .data-menu {
        .data-button {
            display: none;
        }
    }
    .vb-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        width: 100%;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        height: 64px;
        cursor: pointer;
        color: $vb-light;
        @include border-radius(0);
        &:hover,
        &:focus {
            color: $vb-primary;
            background-color: $vb-light;
        }
    }
    .vb-btn-down {
        font-size: 0.6em;
        cursor: default;
        background-color: $vb-grey;
        @include border-radius(0);
        a {
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
                text-decoration: none;
                color: $vb-primary;
            }
        }
    }
}

//767px< & >480px
@media (max-width: 815px) and (min-width: $break-small) {
    .data-nav {
        .data-button {
            display: none;
        }
    }
    .data-menu {
        padding-bottom: 16px;
        .data-button {
            @include border-radius(0);
            margin: 0;
            background-color: $vb-grey;
            margin: 4px 0;
            width: 100%;
            color: #fff;
            padding: 13px;
            font-weight: 300;
            float: left;
            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }
        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
    .vb-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        width: 100%;
        height: 64px;
        cursor: pointer;
        color: $vb-light;
        @include border-radius(0);
        &:hover,
        &:focus {
            color: $vb-primary;
            background-color: $vb-light;
        }
    }
    .vb-btn-down {
        font-size: 0.6em;
        cursor: default;
        background-color: $vb-grey;
        @include border-radius(0);
        a {
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
                text-decoration: none;
                color: $vb-primary;
            }
        }
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    .data-nav {
        .data-button {
            display: none;
        }
    }
    .data-menu {
        padding-bottom: 16px;
        .data-button {
            @include border-radius(0);
            margin: 0;
            background-color: $vb-grey;
            margin: 4px 0;
            width: 100%;
            color: #fff;
            padding: 13px;
            font-weight: 300;
            float: left;
            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }
        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
    .vb-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        width: 100%;
        height: 64px;
        cursor: pointer;
        color: $vb-light;
        @include border-radius(0);
        &:hover,
        &:focus {
            color: $vb-primary;
            background-color: $vb-light;
        }
    }
    .vb-btn-down {
        font-size: 0.5em;
        cursor: default;
        background-color: $vb-grey;
        @include border-radius(0);
        a {
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
                text-decoration: none;
                color: $vb-primary;
            }
        }
    }
}

//320px<
@media (max-width: $break-tiny) {
    .data-nav {
        .data-button {
            display: none;
        }
    }
    .data-menu {
        padding-bottom: 16px;
        .data-button {
            @include border-radius(0);
            margin: 0;
            background-color: $vb-grey;
            width: 100%;
            color: #fff;
            margin: 4px 0;
            padding: 13px;
            font-weight: 300;
            float: left;
            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }
        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
    .vb-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        width: 100%;
        height: 64px;
        cursor: pointer;
        color: $vb-light;
        @include border-radius(0);
        &:hover,
        &:focus {
            color: $vb-primary;
            background-color: $vb-light;
        }
    }
    .vb-btn-down {
        font-size: 0.5em;
        cursor: default;
        background-color: $vb-grey;
        @include border-radius(0);
        a {
            &:hover,
            &:focus,
            &:active {
                outline: none;
                border: none;
                text-decoration: none;
                color: $vb-primary;
            }
        }
    }
}

/*.vb-btn:focus {
    outline: none;
}

.vb-btn span {
    display: block;
    position: absolute;
    top: 22px;
    left: 8px;
    right: 8px;
    height: 4px;
    background: white;
}

.vb-btn span::before,
.vb-btn span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}

.vb-btn span::before {
    top: -12px;
}

.vb-btn span::after {
    bottom: -12px;
}*/
/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

/*.vb-cross span {
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
}

.vb-cross span::before,
.vb-cross span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0;
}

.vb-cross span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.vb-cross span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}*/

/* active state, i.e. menu open */
/*.vb-cross.active {
    background-color: $vb-grey;
    &:hover{
      background-color: $vb-primary;
    }
}

.vb-cross.active span {
    background: none;
}

.vb-cross.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.vb-cross.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.vb-cross.active span::before,
.vb-cross.active span::after {
    -webkit-transition-delay: 0, 0.3s;
    transition-delay: 0, 0.3s;
}

.btn-default {
    @include button-variant($vb-active, transparentize(white, 1), $vb-active);
    &:hover,
    &:focus {}
}*/
