@import "utilities/variables";
@import "utilities/mixins";

html,
body {
    font-family: $vb-body-font-family;
    font-weight: $font-light;
    font-size: $base-font-size;
    color: $vb-light;
    line-height: $base-line-height;
}

.font-secondary {
    font-family: $vb-secondary-font-family;
    font-weight: $font-light;
}

h0,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    font-weight: $font-semi-bold;
    small {
        display: block;
        line-height: 1.5;
        font-size: 50%;
        font-weight: $font-light;
        color: inherit;
    }
}

h0 {
    font-size: $base-h0-size;
}

h1 {
    font-size: $base-h1-size;
}

h2 {
    font-size: $base-h2-size;
}

h3 {
    font-size: $base-h3-size;
}

h4 {
    font-size: $base-h4-size;
}

h5 {
    font-size: $base-h5-size;
}

h6 {
    font-size: $base-h6-size;
}

blockquote {
    margin: 8px 0 8px 0;
    padding: 8px 0 8px 0;
}

label {
    font-size: 18px;
    font-weight: $font-light;
    padding-bottom: 2px;
}


a {
    color: $vb-primary;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $vb-light;
        background-color: $vb-primary;
    }
}

.upper-case {
    text-transform: uppercase;
}

.page-header {
    margin: 0 0 16px 0;
    border-bottom: 1px solid $vb-grey;
}

.emphasis {
    font-weight: $font-semi-bold;
    color: #fff;
}

li#center-justified {
    text-align: center;
}

li#left-justified {
    text-align: justified-left;
}

strong {
    font-style: bold;
    font-weight: $font-bold;
}

b {
    font-weight: $font-semi-bold;
    font-style: bold;
}

.semi-bold {
    font-weight: $font-semi-bold;
}

.light {
    font-weight: $font-light;
}

i {
    font-style: italic;
}

.title {
    margin: 0;
}

.subtitle {
    font-weight: $font-light;
}

.highlight {
    font-weight: $font-semi-bold;
    padding-bottom: 4px;
    &:hover,
    &:focus {
        box-shadow: 8px 0 0 $vb-primary, -8px 0 0 $vb-primary;
        color: $vb-light;
        text-decoration: none;
        background-color: $vb-primary;
    }
}

@media (min-width: $break-huge) {}

@media (max-width: $break-huge) and (min-width: $break-large) {}

@media (max-width: $break-large) and (min-width: $break-big) {}

//1200px< & >767px
@media (max-width: $break-big) and (min-width: $break-medium) {}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }
    h0 {
        font-size: $mobile-h0-size;
    }
    h1 {
        font-size: $mobile-h1-size;
    }
    h2 {
        font-size: $mobile-h2-size;
    }
    h3 {
        font-size: $mobile-h3-size;
    }
    h4 {
        font-size: $mobile-h4-size;
    }
    h5 {
        font-size: $mobile-h5-size;
    }
    h6 {
        font-size: $mobile-h6-size;
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }
    h0 {
        font-size: $mobile-h0-size;
    }
    h1 {
        font-size: $mobile-h1-size;
    }
    h2 {
        font-size: $mobile-h2-size;
    }
    h3 {
        font-size: $mobile-h3-size;
    }
    h4 {
        font-size: $mobile-h4-size;
    }
    h5 {
        font-size: $mobile-h5-size;
    }
    h6 {
        font-size: $mobile-h6-size;
    }
}

//320px<
@media (max-width: $break-tiny) {
    h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }
    h0 {
        font-size: $mobile-h0-size;
    }
    h1 {
        font-size: $mobile-h1-size;
    }
    h2 {
        font-size: $mobile-h2-size;
    }
    h3 {
        font-size: $mobile-h3-size;
    }
    h4 {
        font-size: $mobile-h4-size;
    }
    h5 {
        font-size: $mobile-h5-size;
    }
    h6 {
        font-size: $mobile-h6-size;
    }
}
