@import "helpers/variables";
@import "helpers/mixins";

html,
body {
  font-family: $vb-body-font-family;
  color: $vb-light;
  font-weight: $medium;
  font-size:$base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0 8px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: $bold;
  line-height: 1.5em;
}

a {
  color: $vb-light;
  text-decoration: none;
  &:hover,
  &:focus {
  text-decoration: none;
    color: none;
  }
}

li#center-justified{
  text-align:center;
}
li#left-justified{
  text-align:justified-left;
}
.thin{
  font-weight:$light;
}
.bold{
  font-weight:$bold;
}

.title{
  margin: 0;
}

//>1200px
@media(min-width:$break-large) {


}


//1200px< & >767px
@media(max-width:$break-large)and(min-width:$break-medium)  {

}


//767px< & >480px
@media(max-width:$break-medium)and(min-width:$break-small) {


}


//480px< & >320px
@media(max-width:$break-small)and(min-width:$break-tiny) {


}

//320px<
@media(max-width:$break-tiny) {


}
