@import "utilities/variables";
@import "utilities/mixins";

.center {
    display: table;
    width: 100%;
    height: 101%;
}

.v-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.box {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.gallery-container{
    .container{
        padding:16px 0 0 0;
        margin:0;
        width:100%;
    }
}

//>2500px
// @media (min-width: $break-huge) {
//     .text-block {
//         h1 {
//             font-size: 36px;
//         }
//         h3 {
//             font-size: 18px;
//         }
//     }
//     .gallery-text {
//         margin: auto;
//         padding: 128px;
//         word-wrap: break-word;
//         display: block;
//         min-width: 1600px;
//         max-width: 1800px;
//     }
//    .image_container {
// padding-top:48px;
//         .col-lg-12 {
//             padding: 0  256px;
//         }
//         .col-xs-12 {
//             padding: 0;
//         }
//     }
//     .gallery {
//         a {
//             color: $vb-light;
//             &:hover,
//             &:focus {
//                 .text-block {
//                     color: $vb-light;
//                     background-color: $vb-primary;
//                 }
//             }
//         }
//         height: auto;
//         display: inline-block;
//         position: relative;
//         width: 100%;
//     }
//     .gallerytile {
//         padding: 0;
//         float: left;
//         position: relative;
//         span.gallery-image {
//             height: $tile-height-2k;
//             background-repeat: no-repeat;
//         }
//     }
//     span.header-image {
//         height: $tile-height-medium;
//         background-repeat: no-repeat;
//     }
//         color: $vb-light;
//     }
//     #barbus {
//         @include background-image("../img/work/thumbs/gallery_thumb_copafeel.jpg");
//     }
//     #adhop {
//         @include background-image("../img/work/thumbs/gallery_thumb_adhop.jpg");
//     }
//     #dukebox {
//         @include background-image("../img/work/thumbs/gallery_thumb_dukebox.jpg");
//     }
//     #visualbear {
//         @include background-image("../img/work/thumbs/gallery_thumb_visualbear.jpg");
//     }
//     #lynx {
//         @include background-image("../img/work/thumbs/gallery_thumb_lynx.jpg");
//     }
//     #sos {
//         @include background-image("../img/work/thumbs/gallery_thumb_sos.jpg");
//     }
// }
@media (min-width: $break-huge) {
    .desktop {
        display: initial;
    }
    .mobile {
        display: none;
    }
    .gallery-container {

        padding-bottom:16px;
        .gallery-image {
            img {
                width: 1440px;
                display: block;
                margin: auto;
            }
        }
    }
    .gallery-text {
        padding: 128px;
        margin: auto;
        min-width: 1280px;
        max-width: 1600px;
        word-wrap: break-word;
        display: block;
    }
    .image_container {
        .col-lg-12 {
            padding: 0  128px;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    width: 75%;
                    margin: auto;
                    padding: 32px;
                    color: $vb-light;
                    background-color: $vb-primary;
                    &:after {
                        border-left: 23px solid transparent;
                        border-right: 23px solid transparent;
                        border-bottom: 18px solid $vb-primary;
                        margin-left: -23px;
                    }
                }
            }
        }
        height: 100%;
        width: 100%;
        display: inline-block;
        position: relative;
    }
    div.gallerytile {
        height: 50vh;
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: 100%;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        height: $tile-height-medium;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos.jpg");
    }
}

//2500px< & >1200px
@media (max-width: $break-huge) and (min-width: $break-large) {
    .desktop {
        display: initial;
    }
    .mobile {
        display: none;
    }
    .gallery-container {
        padding-bottom:16px;
        .gallery-image {
            img {
                width: 1200px;
                display: block;
                margin: auto;
            }
        }
    }
    .gallery-text {
        padding: 128px;
        margin: auto;
        min-width: 1024px;
        max-width: 1280px;
        word-wrap: break-word;
        display: block;
    }
    .image_container {
        .col-lg-12 {
            padding: 0  128px;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    width: 75%;
                    margin: auto;
                    padding: 32px;
                    color: $vb-light;
                    background-color: $vb-primary;
                    &:after {
                        border-left: 23px solid transparent;
                        border-right: 23px solid transparent;
                        border-bottom: 18px solid $vb-primary;
                        margin-left: -23px;
                    }
                }
            }
        }
        height: 100%;
        width: auto;
        margin: auto;
        display: inline-block;
        position: relative;
    }
    div.gallerytile {
        height: 50vh;
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: 100%;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        height: $tile-height-medium;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos.jpg");
    }
}

//1280px< & >900px
@media (max-width: $break-large) and (min-width: $break-big) {
    .desktop {
        display: initial;
    }
    .mobile {
        display: none;
    }
    .gallery-container {
        padding-bottom:16px;
        .gallery-image {
            img {
                width: 900px;
                display: block;
                margin: auto;
            }
        }
    }
    .gallery-text {
        margin: auto;
        padding: 64px 0;
        min-width: 768px;
        max-width: 900px;
        word-wrap: break-word;
        display: block;
    }
    .image_container {
        .col-lg-12 {
            padding: 0;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    width: 90%;
                    margin: auto;
                    padding: 32px;
                    color: $vb-light;
                    background-color: $vb-primary;
                }
            }
        }
        height: 100%;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .gallerytile {
        height: 50vh;
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: 100%;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        height: $tile-height-medium;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos.jpg");
    }
}

//960< & >767px
@media (max-width: $break-big) and (min-width: $break-medium) {
    .desktop {
        display: initial;
    }
    .mobile {
        display: none;
    }
    .gallery-text {
        word-wrap: break-word;
        display: block;
        padding: 64px;
    }
    .gallery-container {
        padding-bottom:16px;
    }
    .image_container {
        .col-lg-12 {
            padding: 0;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    margin: auto;
                    padding: 32px;
                    color: $vb-light;
                    background-color: $vb-primary;
                }
            }
        }
        height: 100%;
        display: inline-block;
        position: relative;
        width: 100%;
        .gallery-container {
        padding-bottom:16px;
            padding-top: 48px;
            .image_container {
                padding-top: 32px;
                width: 900px;
                margin: auto;
            }
        }
    }
    .gallerytile {
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: $tile-height-big;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        height: $tile-height-medium;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos.jpg");
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    .desktop {
        display: none;
    }
    .mobile {
        display: initial;
    }
    .gallery-container {
        padding-bottom:16px;
    }
    .gallery-text {
        word-wrap: break-word;
        display: block;
        padding: 32px;
    }
    .image_container {
        .col-lg-12 {
            padding: 0;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    color: $vb-light;
                    background-color: $vb-primary;
                }
            }
        }
        height: 100%;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .gallerytile {
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: $tile-height-medium;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        height: $tile-height-medium;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly_mobile.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel_mobile.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop_mobile.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox_mobile.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear_mobile.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx_mobile.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos_mobile.jpg");
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    .desktop {
        display: none;
    }
    .mobile {
        display: initial;
    }
    .gallery-container {
        padding-bottom:16px;
    }
    .gallery-text {
        word-wrap: break-word;
        display: block;
        padding: 32px;
        margin: auto;
    }
    .image_container {
        .col-lg-12 {
            padding: 0;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    color: $vb-light;
                    background-color: $vb-primary;
                }
            }
        }
        height: 100%;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .gallerytile {
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: $tile-height-medium;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        height: 192px;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly_mobile.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel_mobile.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop_mobile.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox_mobile.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear_mobile.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx_mobile.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos_mobile.jpg");
    }
}

//320px<
@media (max-width: $break-tiny) {
    .desktop {
        display: none;
    }
    .mobile {
        display: initial;
    }
    .gallery-container {
        padding-bottom:16px;
    }
    .gallery-text {
        word-wrap: break-word;
        display: block;
        padding: 32px;
        margin: auto;
    }
    .image_container {
        .col-lg-12 {
            padding: 0;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .gallery {
        a {
            color: $vb-light;
            &:hover,
            &:focus {
                .text-block {
                    color: $vb-light;
                    background-color: $vb-primary;
                }
            }
        }
        height: 100%;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .gallerytile {
        padding: 0;
        float: left;
        position: relative;
        span.gallery-image {
            height: $tile-height-medium;
            background-repeat: no-repeat;
        }
    }
    span.header-image {
        color: $vb-light;
        height: 128px;
        background-repeat: no-repeat;
    }
    .header-block {
        color: $vb-light;
    }
    #prettyugly {
        @include background-image("../img/work/thumbs/gallery_thumb_prettyugly_mobile.jpg");
    }
    #barbus {
        @include background-image("../img/work/thumbs/gallery_thumb_copafeel_mobile.jpg");
    }
    #adhop {
        @include background-image("../img/work/thumbs/gallery_thumb_adhop_mobile.jpg");
    }
    #dukebox {
        @include background-image("../img/work/thumbs/gallery_thumb_dukebox_mobile.jpg");
    }
    #visualbear {
        @include background-image("../img/work/thumbs/gallery_thumb_visualbear_mobile.jpg");
    }
    #lynx {
        @include background-image("../img/work/thumbs/gallery_thumb_lynx_mobile.jpg");
    }
    #sos {
        @include background-image("../img/work/thumbs/gallery_thumb_sos_mobile.jpg");
    }
}
