@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;
      -ms-text-shadow: $shadow;
          text-shadow: $shadow;
}

@mixin background-image($image) {
  background-image:$image;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
